/*
Fonts:

navigation: 1.5rem
buttons: 1.3rem
text: 1.3rem

blue colors:
btn - #97acad
hover - #81999a

btn 2 - #516c86
hover - #435a71

*/

*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;  
}

body {
  background: #F7F7F7;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.7;
}

.fluid-container {
  min-height: 100vh; 
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 350px !important;
}
/* like color 
#e8d2cc
#e8d9c8;
#E9E3D9
*/

/*===========
    NAVBAR
============*/

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.top-nav li:last-child {
  position: relative !important;
}

.navbar-brand {
  padding: 0px 45px;
  font-size: 20px;
  text-transform: uppercase;
  color: #dcdcdce6 !important;
}

.navbar-collapse {
  margin: 0 40px;
}

.nav-link {
  color: #dcdcdce6 !important;
}

.navbar-nav {
  font-size: 1.5rem !important;
}

.navbar-nav li:last-child {
  margin-left: 10px;
}

.bg-light {
  background-color: #1f1f1f !important;
}

#favourites {
  margin: 0 5px 0 10px;
}

.cart__icon {
  height: 40px;
  width: 25px;
  fill: #dcdcdce6;
}

.cart-item_total {
  background: #e8d1b6;
  color: #484646;
  border-radius: 100px;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 60%;
}

/*===========
    SIDEBAR
============*/

#sidebar {
  padding: 90px 10px;
  position: sticky;
  top: 0;
  z-index: 500;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.sidebar-header__title {
  /* border-bottom: 1px solid black; */
  padding-bottom: 10px;
  width: 90%;
}

.dropdown__icon {
  height: 17px;
  width: 25px;
  fill: #a9a7a7e6;
}

.list-unstyled {
  font-size: 1.5rem !important;
  margin-top: -1rem !important;
  margin-bottom: 4rem !important;
}

.sidebar-item {
  margin-bottom: 1.2rem;
}

.sidebar-item__link {
  color: #7b7b7be6;
  display: flex;
  align-items: center;
}

.sidebar-item__link:hover {
  text-decoration: none;
  color: #636363e6;
}

.sidebar-color__circle {
  float: left;
  background: antiquewhite;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-right: 10px;
}

#Black { background: #000000 !important;}
#Blue { background: #a4bfd8 !important;}
#Brown { background: #725342 !important;}
#Gray { background: #979798 !important;}
#Green { background: #73907f !important;}
#Orange { background: #e6b772 !important;}
#Pink { background: #e4b5b5 !important;}
#Red { background: #bd4545 !important;}
#Yellow { background: #efe8a8 !important;}

.sidebar__icon {
  height: 40px;
  width: 15px;
  fill: #dcdcdce6;
  margin-left: auto;
  margin-right: 5px;;
}

.sidebar__icon-removed {
  visibility: hidden;
  height: 40px;
  width: 15px;
  fill: #dcdcdce6;
  margin-left: auto;
  margin-right: 20px;
}

.main-view {
  padding: 100px 50px;
} 

.main-view__no-match {
  font-size: 1.5rem;
}

/*===========
    SEARCH
============*/

.search {
  flex: 0 0 40%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 0 auto;
}

.search__input {
  font-family: inherit; 
  font-size: 15px;
  color: inherit;
  background-color: #ffffff;
  border: none;
  padding: 7px 30px;
  border-radius: 100px;
  width: 90%;
  margin-right: -3.25rem;
  transition: all .2s;
}

.search__input:focus {
  outline: none; 
  width: 100%;
  background-color: #ffffff;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #ffffff;
}

.search__button {
  border: none;
  background-color: #ffffff;
}

.search__button:focus  { 
  outline: none; 
}

.search__button:active   { 
  transform: translateY(2px);
}

.search__icon {
  height: 25px;
  width: 20px;
  fill: #000000;
}

/*===========
    BUTTONS
============*/

.btn-primary {
  padding: 1.2rem 4.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  letter-spacing: 1px;
  margin: 1.7rem;
  color: #fff;
  background: #97acad;
  /* background-color: #E8E2D2; */
}

.btn-primary:hover, .btn-primary:active {
  /* background: #d2d1b4 !important; */
  background: #81999a !important;
  outline: none !important;
  border: none !important;
}

.btn-primary:focus {
  outline: none;
}

/*==========
    CARD
===========*/

#thumbnails {
  width: 100%; 
  height: 250px;
  /* object-fit: cover; */
}

.card {
  margin: 0 auto;
  width: 18rem !important;
  border: none;
}

.cart-item_total {
  position: absolute;
  top: 0;
  left: 70%;
}

.card-body {
  padding: 15px !important;
}

.card-body:hover {
  background: #e8d2cc;
}

.product__item {
  margin-bottom: 40px !important;
}

.product-name {
  font-size: 1.7rem;
  transform: uppercase;
  text-align: center;
  color: #717171e6;
}

.product-price {
  font-size: 2rem;
  text-align: center;
}

.card-body {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card-body > * {
  transition: all .2s;
}

.card-body:hover .card-body__visible{ 
  transform: translateY(150%)
}

.card-body__invisible {
  position: absolute;
  top: -100%;
  left: 11.5rem;
  transition: all .2s;
}

.card-body:hover .card-body__invisible {
  top: 29%;
  left: 11.5rem;
}

.heart__icon {
  height: 40px;
  width: 35px;
  fill: #a73232e6;
}

.card-body:active {
  background: #e8e1cc;
}

/*==============
    FAVORITES
===============*/
.favorites {
  margin: 0 5.5rem;
  margin-top: 10rem !important;
}

.favorites-box {
  margin-bottom: 3rem;
  position: relative;
}


#thumbnail {
  width: 100%;
  height: 230px;
  margin-bottom: 1rem;
}

#favorite-form {
  width: 30% !important;
  margin: 0 auto !important;
  padding-top: .8rem;
  padding-bottom: .8rem;
}

#favorite-input {
  display: inline;
  width: 10% !important;
  height: calc(2.5rem + 0px) !important;
  font-size: 1.3rem !important;
  padding: 1.375rem 2rem !important;
}

.favorite-add {
  padding: .7rem 2.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  letter-spacing: 1px;
  margin: 1rem;
  color: #fffafa;
  background: #bf8474;
  border: none;
}

.remove__icon{
  height: 35px;
  width: 30px;
  fill: #ffffffe6;
  position: absolute;
  top: 3px;
  left: 80%;
}

#favorite-price {
  border-bottom: 1px solid #e6e6e6;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.favorite-btn{
  width: 75%;
  margin: 0 auto;
  border-top: 1px solid #e6e6e6;
}
/*============
    PRODUCT
=============*/

.product-section__image {
  text-align: center;
}

.product-page {
  margin-top: 90px;
}

.product-image {
  width: 80%;
}

.product-info__name {
  font-size: 3rem !important;
  /* font-weight: 300 !important; */
  margin-bottom: 1rem !important;
}

.product-info__price {
  font-size: 2rem !important;
}

.product-info__description {
  margin-top: 25px;
  font-size: 1.3rem;
}

.product-info__quantity {
  display: inline;
  width: 10% !important;
  height: calc(4rem + 2px) !important;
  font-size: 1.3rem !important;
}

.heart__icon-box {
  display: inline-block;
}

.heart__icon-single {
  height: 40px;
  width: 35px;
  fill: #a9a7a7e6;
}

.heart__icon-single:hover, .heart__icon-single:active {
  fill: #a73232e6;
}

.product-add {
  padding: 1.2rem 4.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  letter-spacing: 1px;
  margin: 1.7rem;
  color: #fffafa;
  background: #516c86;
  border: none;
}

.product-add:hover,  .product-add:active, .product-add:focus{
  background: #435a71;
  outline: none !important;
  border: none !important;
}

/*========
   POPUP
=========*/

.swal-modal {
  width: 400px;
}

.swal-icon--success {
  border-color: #e8e1cc;;
}

.swal-icon--success__line {
  background-color: #e8e1cc;
}

.swal-icon--success__line {
  background-color: #e8e1cc;
}

.swal-icon--success__ring {
  border: 4px solid #e8e1cc;
}

.swal-button-container {
  display: none;
}

.swal-title {
  color: black;
  font-weight: 300;
  font-size: 23px;
}

/*=======
   CART
========*/

.page-header {
  text-align: center;
  margin: 50px;
}

.page-header__text {
  font-size: 3rem !important;
}

.table-header {
  font-size: 2rem;
}

.table-header > th {
  border-top: none;
}

.cart-items > td{
  font-size: 1.3rem !important;
}

.cart-item__image {
  float: left;
  width: 18%;
  height: 140px;
}

.cart-item__name {
  margin-left: 20px;
  color: #7b7b7be6;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
}

.cart-item__name:hover {
  color: #7b7b7be6;
  text-decoration: none;
}

.cart-item__quantity {
  font-size: 1.3rem !important;
  display: inline-block !important;
  margin-right: 10px !important;
}

.cart-item__delete {
  position: relative !important;
}

.cart-items:last-child {
  border-bottom: 1px solid #dee2e6;
}

.cart-item__edit {
  text-align: center;
}

.cart-item__description {
  max-width: 720px;
  max-height: 104px;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  padding: 5px 20px;
}

.edit-icon {
  width: 15px;
  height: 15px;
  fill: #a9a7a7e6;
}

.cart-item__update-btn {
  font-size: 13px;
  border-radius: 100px;
  border: none;
  color: #fffafa;
  background: #b7c1bb;
  border: none;
}

.delete-icon {
  position: absolute;
  top: -1px;
  left: 0;
  height: 40px;
  width: 23px;
  fill: #c57d7d;
}

td {
  color: #7b7b7be6;
}

tr > th:not(:first-child) {
  text-align: center;
}

.table-borderless {
  width: 20% !important;
  margin-top: 20px;
  font-size: 1.5rem !important;
}

.table-borderless tr > td {
  text-align: right;
  font-weight: 400;
}

.table-borderless tr > th {
  font-weight: 400;
}

.table-borderless__content > tr:last-child > th{
  font-weight: 900 !important;
}

.table-borderless__content > tr:last-child > td{
  font-weight: 900 !important;
}

.cart-checkout {
  margin-bottom: 100px
}

.cart-empty {
  font-weight: 200;
  color: #7b7b7be6;
}

/*==========
    LOGIN
===========*/
.container-form {
  margin-top: 16rem;
}

.jumbotron {
  padding: 6rem 5rem !important;
  background-color: #dcdcdce6 !important;
}

.container-form__name {
  font-size: 2rem !important;
  margin-bottom: 1.5rem;
}

#user-field {
  margin-bottom: 1.5rem !important;
}

.form-box {
  flex-direction: column !important;
}

.input-group-addon {
  padding: .7rem 1rem;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.user-icon {
  width: 18px;
  height: 20px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

.form__input {
  height: calc(3.5rem + 2px) !important;
  font-size: 1.3rem !important;
}

.form-btn {
  text-align: center;
}

.form-btn__auth {
  padding: 1.2rem 4.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  letter-spacing: 1px;
  margin: 2rem 0 0 0;
  color: #fff;
  background: #516c86;
}

/*===========
    FOOTER
============*/

footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: #1f1f1f;
  color: #dcdcdce6 !important; 
  padding: 0px 45px;
}

.footer-box {
  padding: 45px 20px;
}

.footer-box__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-rights {
  margin-top: -15px;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.footer-box__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.footer-box__address-info {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.footer-box__social {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.footer-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
}

.footer-nav__item {
  padding: 0 10px;
}

.footer-social__icon {
  height: 50px;
  width: 30px;
  fill: #dcdcdce6;
}

.footer-social__icon:hover,.footer-social__icon:active  {
  fill: #e8d1b6;
}

.product-search {
  padding: 0px 0 60px 0;
}

/*========
  SUCCESS
========*/
.order-number {
  margin-top: -3rem;
  font-weight: 300;
}

.arrow-back__icon {
  height: 50px;
  width: 25px;
  fill: #dcdcdce6;
  margin-right: 5px;
}

.arrow-back__icon:hover {
  fill: #435a71;
}

.arrow-back__name {
  color: #7b7b7be6;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.5rem;

}

.arrow-back__name:hover {
  -webkit-text-fill-color: #435a71;
  text-decoration: none;
}


@media (max-width: 576px) {
  /* NAVBAR */
  .cart-item_total {
    display: none;
  }

  .navbar-toggler {
    border-color: #dcdcdce6 !important;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
  }

  /* PRODUCT */
  .card {
    width: 30rem !important;
  }

  .card-body:hover .card-body__invisible {
    top: 29%;
    left: 13rem;
  }
  .search {
    flex: 0 0 100% !important;
    margin-left: -8px;
  }

  .product-info__quantity {
    width: 13% !important;
  }

  #product-section__info{
    margin-top: 3rem;
  }

  .product__item {
    width: 100%;
  }

  .main-view {
    padding: 1rem 5rem;
  }

  .sidebar__icon {
    margin-right: 11px;
  }

  /* CART */
  .cart-item__image {
    margin-right: 10px;
    width: 65%;
  }

  .cart-item__name {
    margin: 0;
  }

  .cart-item__description {
    display: none;
  } 
  
  #btn-cart {
    margin: 0 !important;
    padding: 1rem 4rem;
  }
  
  .table-borderless {
    margin-right: 4rem;
  }

  .cart-checkout {
    margin-right: 2rem;
  }

  /* LOGIN */
  .container-form {
    margin-top: 11rem;
  }

  /* FOOTER*/
  .footer-box {
    padding: 2rem 1.5rem;
  }

  .footer-box__logo {
    text-align: center;
  }
  
  .footer-box__address {
    margin-top: 1.5rem;
  } 

  .footer-box__social {
    margin-top: 1rem;
  }

  .footer-nav {
    margin: 0 auto;
  }    
  
}

@media all and (max-width: 768px) and (min-width: 576px) {  
  /* PRODUCT */
  .search {
    flex: 0 0 90% !important;
    margin-left: none;
  }

  #product-section__info{
    margin-top: 3rem;
  }

  .main-view {
    padding: 3rem 7rem;
  }

  .product__item {
    width: 80%;
    margin: 0 auto;
  }

  .sidebar__icon {
    margin-right: 20px;
  }

  /* CART */
  #btn-cart {
    margin: 0 !important;
    padding: 1rem 4rem;
  }

  .cart-item__image {
    width: 35%;
  }

  .cart-item__description {
    max-height: 100px;
  }

  .card-body:hover .card-body__invisible {
    top: 29%;
    left: 15.5rem !important;
  }
  /* FOOTER*/
  .footer-nav {
    margin: 0;
  }
}

@media all and (min-width: 992px) and (max-width: 1130px) {
  .card-body:hover .card-body__invisible {
    top: 29%;
    left: 7rem;
  }

  .product-name {
    font-size: 1.5rem;
  }

  .product-price {
    font-size: 1.7rem;
  }
}

@media all and (max-width: 992px) and (min-width: 768px) {
  /* SIDEBAR */
  #sidebar-box {
    padding-left: 0 !important;
  }
  /* PRODUCT */
  .product__item {
    flex: 0 0 50% !important;
  }

  #thumbnails {
    width: 100%;
    height: 200px;
  }

  .search {
    flex: 0 0 80% !important;
    margin-left: none;
  }

  .product-info__quantity {
    width: 16% !important;
  }

  #btn-item {
    padding: 1rem 4rem;
  }

  #product-page-box {
    padding: 0;
  }

  /* CART */
  #btn-cart {
    margin: 0 !important;
  }
}


