*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  background: #F7F7F7;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
.fluid-container {
  min-height: 100vh; 
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 130px !important;
}
/* like color 
#e8d2cc
#e8d9c8;
#E9E3D9
*/

/*===========
    NAVBAR
============*/

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.top-nav li:last-child {
  position: relative !important;
}

.navbar-brand {
  padding: 0px 45px;
  font-size: 20px;
  text-transform: uppercase;
  color: #dcdcdce6 !important;
}

.navbar-collapse {
  margin: 0 40px;
}

.nav-link {
  color: #dcdcdce6 !important;
}
.navbar-nav li:last-child {
  margin-left: 10px;
}

.bg-light {
  background-color: #1f1f1f !important;
}

.cart__icon {
  height: 40px;
  width: 25px;
  fill: #dcdcdce6;
}

.cart-item_total {
  background: #e8d1b6;
  color: #484646;
  border-radius: 100px;
  width: 20px;
  height: 21px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 60%;
}

/*===========
    SIDEBAR
============*/

#sidebar {
  padding: 90px 10px;
  position: sticky;
  top: 0;
  z-index: 500;
}

.sidebar-header {
  margin-bottom: 30px;
}

.sidebar-header__title {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 90%;
}

.sidebar-item {
  margin: 10px 0px;
}

.sidebar-item__link {
  color: #7b7b7be6;
  display: flex;
  align-items: center;
}

.sidebar-item__link:hover {
  text-decoration: none;
  color: #636363e6;
}

.sidebar-color__circle {
  float: left;
  background: antiquewhite;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-right: 10px;
}

#Black { background: #000000 !important;}
#Blue { background: #a4bfd8 !important;}
#Brown { background: #725342 !important;}
#Gray { background: #979798 !important;}
#Green { background: #73907f !important;}
#Orange { background: #e6b772 !important;}
#Pink { background: #e4b5b5 !important;}
#Red { background: #bd4545 !important;}
#Yellow { background: #efe8a8 !important;}

.sidebar__icon {
  height: 40px;
  width: 15px;
  fill: #dcdcdce6;
  margin-left: auto;
  margin-right: 20px;
}

.sidebar__icon-removed {
  visibility: hidden;
  height: 40px;
  width: 15px;
  fill: #dcdcdce6;
  margin-left: auto;
  margin-right: 20px;
}

/*===========
    SEARCH
============*/

.search {
  flex: 0 0 40%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 0 auto;
}

.search__input {
  font-family: inherit; 
  font-size: 15px;
  color: inherit;
  background-color: #ffffff;
  border: none;
  padding: 7px 30px;
  border-radius: 100px;
  width: 90%;
  margin-right: -3.25rem;
  transition: all .2s;
}

.search__input:focus {
  outline: none; 
  width: 100%;
  background-color: #ffffff;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #ffffff;
}

.search__button {
  border: none;
  background-color: #ffffff;
}

.search__button:focus  { 
  outline: none; 
}

.search__button:active   { 
  transform: translateY(2px);
}

.search__icon {
  height: 25px;
  width: 20px;
  fill: #000000;
}

/*===========
    BUTTONS
============*/

.btn-primary {
  padding: 10px 45px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  letter-spacing: 1px;
  margin: 20px;
  color: #fff;
  background: #b7c1bb;
  /* background-color: #E8E2D2; */
}

.btn-primary:hover, .btn-primary:active {
  /* background: #d2d1b4 !important; */
  background: #9da9a2 !important;
  outline: none !important;
  border: none !important;
}

.btn-primary:focus {
  outline: none;
}

/*============
    PRODUCT
=============*/

.product-section__image {
  text-align: center;
}

.product-page {
  margin-top: 90px;
}

.product-image {
  width: 80%;
}

.product-info__name {
  font-size: 3rem !important;
  font-weight: 300 !important;
}

.product-info__description {
  margin-top: 25px;
}

.product-info__quantity {
  display: inline;
  width: 10% !important;
}

.product-add {
  padding: 10px 45px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  letter-spacing: 1px;
  margin: 20px;
  color: #fffafa;
  background: #bf8474;
  border: none;
}

.product-add:hover,  .product-add:active, .product-add:focus{
  background: #a26858;
  outline: none !important;
  border: none !important;
}

/*=======
   CART
========*/

.page-header {
  text-align: center;
  margin: 50px;
}

.table-header > th {
  border-top: none;
}
.cart-item__image {
  float: left;
  width: 18%;
  height: 140px;
}

.cart-item__name {
  margin-left: 20px;
  color: #7b7b7be6;
  font-weight: 600;
  text-decoration: none;
}

.cart-item__name:hover {
  color: #7b7b7be6;
  text-decoration: none;
}

.cart-item__quantity {
  font-size: 15px !important;
  display: inline-block !important;
  margin-right: 10px !important;
}

.cart-item__delete {
  position: relative !important;
}

.cart-items:last-child {
  border-bottom: 1px solid #dee2e6;
}

.cart-item__edit {
  text-align: center;
}

.cart-item__description {
  max-width: 720px;
  max-height: 104px;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  padding: 5px 20px;
}

.edit-icon {
  width: 18px;
  height: 20px;
}

.cart-item__update-btn {
  font-size: 13px;
  border-radius: 100px;
  border: none;
  color: #fffafa;
  background: #b7c1bb;
  border: none;
}

.delete-icon {
  position: absolute;
  top: 3px;
  left: 0;
}

td {
  color: #7b7b7be6;
}

tr > th:not(:first-child) {
  text-align: center;
}

.table-borderless {
  width: 20% !important;
  margin-top: 20px;
}

.table-borderless tr > td {
  text-align: right;
}

.cart-checkout {
  margin-bottom: 100px
}

.cart-empty {
  font-weight: 200;
  color: #7b7b7be6;
}

/*==========
    LOGIN
===========*/
.container-form {
  margin-top: 170px;
}

.jumbotron {
  padding: 4rem 4rem !important;
}

.form-box {
  flex-direction: column !important;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.user-icon {
  width: 18px;
  height: 20px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

.form-btn {
  text-align: center;
}

.form-btn__auth {
  padding: 10px 40px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  letter-spacing: 1px;
  margin: 15px 0;
  color: #fff;
  background: #b7c1bb;
}

/*===========
    FOOTER
============*/

footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: #1f1f1f;
  color: #dcdcdce6 !important; 
  padding: 0px 45px;
}




.main-view {
  padding: 100px 50px;
}

.product-search {
  padding: 0px 0 60px 0;
}

#thumbnails {
  width: 100%; 
  height: 300px;
  object-fit: cover;
}

.card {
  margin: 0 auto;
  width: 18rem !important;
  border: none;
}

.product__item {
  margin-bottom: 40px !important;
}
.product-name {
  font-size: 18px;
  transform: uppercase;
  text-align: center;
  color: #717171e6;
}
.product-price {
  font-size: 20px;
  text-align: center;
}

.cart-item_total {
  position: absolute;
  top: 0;
  left: 90%;
}



.card-body {
  padding: 15px !important;
}

.card-body:hover {
  background: #e8d2cc;
}
